<div class="bg-white w-[100%] py-7 px-7 relative">
    <div class="border border-gray rounded-md py-2 px-2">
        <h1 class="mb-3">Review your order and address details to avoid cancellations</h1>
        <p class="mb-4 text-xs">
            <span class="text-red-500">Note:</span>
            If you cancel within 60 seconds of placing your order, a 100% refund will be issued. No refund for
            cancellations
            made after 60 seconds.
        </p>
        <p class="mb-4 text-xs">Avoid cancellation as it leads to food wastage.</p>
        <a class="text-red-500 font-bold cursor-pointer underline text-xs">Read cancellation policy</a>
    </div>
</div>