<div role='status' class='animate-pulse w-full flex flex-col justify-center items-center relative z-0 top-28'
    *ngIf="!restaurantDetails; else elseBlock">
    <app-restaurant-menu-details-shimmer />
</div>
<ng-template #elseBlock>
    <div class='w-[800px] mx-auto relative z-0 top-28'>
        <div class='text-xs mb-8'>
            <a routerLink='/' class='text-gray-400 hover:text-black'>Home</a>
            {{' / '}}
            <span>{{restaurantDetails?.city}}</span>
            {{' / '}}
            <span>
                {{restaurantDetails?.name || restaurantDetails?.cards?.[0]?.card?.card?.text}}
            </span>
        </div>

        <h1 class='font-bold text-2xl px-3'>
            {{restaurantDetails?.name || restaurantDetails?.cards?.[0]?.card?.card?.text}}
            {{' · '}}
            {{restaurantDetails?.cuisines.join(', ')}}
        </h1>

        <!--Restaurant image banner -->
        <div class='w-full p-6 inn-shadow mt-5'>
            <div class="absolute w-[95%]" style="top:104px; left: 20">
                <div
                    class='bg-gradient-to-t from-black via-transparent to-transparent h-[220px] px-2 py-1 rounded-b-3xl flex justify-start items-end text-white'>
                    <p class='flex justify-center items-center font-bold text-3xl pl-4 pb-3'>
                        <span style="color:green">&#10026;</span>
                        {{restaurantDetails?.avgRating ||
                        restaurantDetails?.avgRatingString}}{{' '}}
                        ·{{' '}}
                        {{restaurantDetails?.totalRatingsString ||
                        restaurantDetails?.totalRatings + ' + ratings'}}{{' '}}
                        · ( ₹
                        {{restaurantDetails?.costForTwo / 100 + ' for two' ||
                        restaurantDetails?.costForTwoMessage}}
                        )
                    </p>
                </div>
            </div>
            <img [src]="CLOUDINARY_CDN_URL + restaurantDetails?.cloudinaryImageId" alt='resImage'
                class='w-full h-56 object-cover rounded-3xl' />
        </div>

        <!--Deals for you-->
        <h2 class='font-bold text-xl px-3 py-2 mt-6'>{{'Deals for you'}}</h2>
        <div class='overflow-x-auto hide-scrollbar container-carousel p-3'>
            <div class='flex gap-3 transition-transform duration-500'>
                <ng-container *ngFor="let c of offerDetails?.offers">
                    <app-display-coupon [coupon]="c" />
                </ng-container>
            </div>
        </div>

        <!--Menu-->
        <div class='flex justify-center p-6 my-6 border-y'>
            <h2 class='text-sm font-normal tracking-[0.3em] text-gray-500'>
                - MENU -
            </h2>
        </div>

        <!--Top Picks-->
        <div>
            <h2 class='font-bold text-xl px-3 py-2 mt-6'>
                {{menuCarousel?.[0]?.card?.card?.title}}
            </h2>
            <div class='overflow-x-auto hide-scrollbar container-carousel pt-3'>
                <div class='flex gap-3 transition-transform duration-500 '>
                    <ng-container *ngFor="let c of menuCarousel">
                        <app-menu-carousel [carousel]="c?.card?.card" />
                    </ng-container>
                </div>
            </div>
            <hr class='border-b-[14px] border-gray-100' />
        </div>

        <!--Single Accordian-->
        <div>
            <ng-container *ngFor="let categoryList of itemCategory; let i=index">
                <app-category-accordian [accordianCategory]="categoryList?.card?.card" [index]="i"
                    [show]="selectedIndex === i" (showAccordian)="toggleAccordian($event)" />
            </ng-container>
        </div>
        <!--nestedItemCategory Accordian-->
        <div *ngIf="nestedItemCategory">
            <ng-container *ngFor="let nestedCategoryList of nestedItemCategory">
                <app-nested-accordian-category [nestedCategory]="nestedCategoryList" />
            </ng-container>
        </div>
    </div>
</ng-template>