<div class='cursor-pointer h-[264px] w-[244px] relative flex-shrink-0'>
    <div class='w-full'>
        <div class='w-full h-[162.66px] object-cover rounded-2xl g:h-48 bg-gray-200 object-center'></div>
    </div>
    <div class='ml-1 mt-3'>
        <p class='leading-relaxed mb-3 w-2/3 h-3 animate-pulse bg-gray-200'></p>
        <p class='leading-relaxed mb-3 w-4/5 h-3 animate-pulse bg-blue-200'></p>
        <p class='leading-relaxed mb-3 w-2/4 h-3 animate-pulse bg-gray-200'></p>
        <p class='leading-relaxed mb-3 w-2/5 h-3 animate-pulse bg-gray-200'></p>
    </div>
</div>