<ng-container *ngFor="let list of accordianList">
    <div class='flex justify-between border-b mt-8 mb-3 pb-12'>
        <div class='w-3/4'>
            <h4 class='flex gap-1'>
                <span>
                    <!-- {{list?.card?.info?.isVeg == 1 ? (
                    <PiSquareLogoFill size={{20}} color='green' />
                    ) : (
                    <PiSquareLogoFill size={{20}} color='red' />
                    )}} -->
                </span>
                <span class='text-orange-600 text-sm font-medium'>
                    {{list?.card?.info?.isBestseller && '🌟 Bestseller'}}
                </span>
            </h4>
            <h1 class='font-bold text-lg'>{{list?.card?.info?.name}}</h1>
            <p class='font-normal text-base pb-2'>
                ₹
                {{ list?.card?.info?.defaultPrice / 100 ||
                list?.card?.info?.price / 100}}
                <!-- ParseInt is Missing -->
            </p>
            <p *ngIf="list?.card?.info?.ratings?.aggregatedRating?.rating > 0"
                class='flex items-center gap-1 text-sm text-gray-500'>
                <span class='text-green-700 flex items-center gap-1'>
                    <span>
                        <!-- <IoStar color='green' /> -->
                    </span>
                    <span>
                        {{list?.card?.info?.ratings?.aggregatedRating?.rating || null}}
                    </span>
                </span>
                ({{list?.card?.info?.ratings?.aggregatedRating?.ratingCount || null}}
                )
            </p>
            <p class='text-sm font-light text-gray-600 pt-2'>
                {{list?.card?.info?.description?.length > 255
                ? list?.card?.info?.description?.substring(0, 255) + '...'
                : list?.card?.info?.description}}
            </p>
        </div>

        <div class='w-1/5 relative'>
            <img [src]="list?.card?.info?.imageId==undefined ? MEME_2 : CLOUDINARY_CDN_URL + list?.card?.info?.imageId"
                alt='dish' class='h-[130px] object-cover w-full shadow rounded-2xl border' />
            <div class='flex flex-col justify-center items-center absolute top-[6.6rem] left-[1.1rem]'>
                <!-- <button onClick={{()=> {{
                    handleAddItem(list);
                    toast.success(`${{list?.card?.info?.name}} added to cart`);
                    }}}}
                    class='bg-white hover:bg-gray-200 text-green-600 font-bold text-lg border mx-auto py-1 px-10
                    rounded-lg shadow-md'
                    >
                    ADD
                </button> -->
                <p class='text-xs font-light text-gray-500'>
                    {{list?.card?.info?.addons?.length > 0 ? 'Customisable' : ''}}
                </p>
            </div>
        </div>
    </div>
</ng-container>